useDynLib(MatTransMix, .registration = TRUE)
importFrom("stats", "var")
importFrom("mvtnorm", "pmvnorm")

export(MatTrans.EM)
export(MatTrans.init)
export(print.EM)
export(summary.EM)



S3method(print, EM)
S3method(summary, EM)
